@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Just+Me+Again+Down+Here&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-bg-color: #f5f5f5;
  --main-text-color: black;
  --font-title: "inter", sans serif;
  --font-subtitle: "inter", sans serif;
  --font-text: "inter", sans serif;
  --font-bold: 800; /* Gras */
  --font-italic: italic; /* Italique */
}

/* h1 {
  font-family: var(--font-title);
  font-weight: var(--font-bold);
}

p {
  font-family: var(--font-text);
  font-style: var(--font-italic);
} */
