.destination-here {
  display: grid;
  color: black;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.LIdestination {
  padding: 2rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  width: 95%;
  flex-direction: column;
  border: 4mm ridge rgb(250 120 14 / 60%);
}

.destination-image {
  width: 500px;
  height: 450px;
}

.destination-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.NoResults {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}
