.destination-here {
  display: grid;
  color: black;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.LIdestination {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  width: 75%;
  flex-direction: column;
  border: 1.5mm double rgb(250 120 14 / 60%);
}

.destination-image {
  width: 200px;
  height: 150px;
}

.destination-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NoResults {
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}

@media (max-width: 480px) {
  .destination-here {
    display: flex;
    flex-direction: column;
  }

  .logo {
    display: flex;
    margin-right: 9rem;
  }
}
