body {
  color: #fbf7f4;
}

.navigation-bar {
  background-color: #f2b311;
  margin: 0;
  padding: 0;
  height: 12rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.we-Found {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Just Me Again Down Here";
  font-weight: var(--font-bold);
  padding-top: 20px;
  font-size: 4.5rem;
  margin-top: 3rem;
  margin-bottom: 2.3rem;
}

.button-return {
  font-family: "Just Me Again Down Here";
  padding: 5px 30px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background: white;
  opacity: 85%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 1.8rem;
}

.button-return:hover {
  background: white;
}
